.signup_page {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  height: 100vh;
}

/* design for signup form */
.form_container {
  grid-column: 1/7;
}

.signup_form {
  padding: 1rem;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.form__account_message {
  font-size: 1rem;
  font-weight: 600;
  text-align: end;
  color: var(--text-primary);
  padding: 0.5rem;
}

.form_heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-primary);
  padding-bottom: 2rem;
}

.form__name_and_username div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.signup_input {
  width: 100%;
  padding: 0.9rem;
  border: none;
  outline: none;
  background-color: #f3f4f6;
  font-size: 1rem;
  font-weight: 400;
  border-radius: 6px;
  margin-bottom: 2rem;
  margin-top: 0.4rem;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 0.9rem;
  border: none;
  outline: none;
  background-color: #f3f4f6;
  font-size: 1rem;
  font-weight: 500;
  border-radius: 6px;
  margin-bottom: 2rem;
  margin-top: 0.4rem;
  color: var(--text-primary);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #efeff0;
}

input[type="email"]:invalid {
  background-color: #fee2e2;
}

label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--text-primary);
}

a {
  color: #2563eb;
  text-decoration: none;
  font-weight: 500;
}

.form__checkbox_container {
  display: flex;
  justify-content: start;
  gap: 1rem;
  padding-top: 1rem;
}

.form__checkbox_container p {
  font-weight: 400;
  color: #6b7280;
}

.checkbox-wrapper-13 * {
  box-sizing: inherit;
}
.checkbox-wrapper-13 *:before,
.checkbox-wrapper-13 *:after {
  box-sizing: inherit;
}

.btn_primary {
  background-color: var(--primary);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.7rem 2.2rem;
  border-radius: 6px;
  cursor: pointer;
}

.form__submit_btn_container {
  padding-top: 3.5rem;
}

/* design for the left cover */

.login_cover {
  height: 100%;
  background-color: #d5a51096;
  padding: 0 4rem 0;
  grid-column: 1/5;
  display: none;
  width: 100%;
}

.logo_container svg {
  height: auto;
  width: 6.5rem;
  fill: var(--text-secondary);
  padding-top: 3rem;
  fill-opacity: 0.6;
}

.cover_heading {
  font-size: 2rem;
  font-weight: 700;
  word-spacing: 0.3rem;
  line-height: 1.3;
  color: var(--text-secondary);
  padding-top: 4rem;
  opacity: 0.9;
}

.cover__image_container img {
  max-width: 520px;
  padding-top: 1rem;
}

.cover_author {
  font-weight: 500;
  color: var(--text-secondary);
  opacity: 0.9;
}

.cover_author p span {
  text-decoration: underline;
}

/* Responsive design */
@media (min-width: 840px) {
  .form_container {
    grid-column: 2/6;
  }
}

@media (min-width: 1200px) {
  .signup_page {
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;
  }
  .form_container {
    grid-column: 7/13;
  }
  .form__name_and_username {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
  }
  .login_cover {
    display: block;
  }

  .signup_form {
    margin-top: 9rem;
    max-width: 590px;
  }
  .form__account_message {
    padding: 1rem;
  }
}

@media (min-width: 1500px) {
  .logo_container svg {
    padding-top: 5rem;
  }
  .cover_heading {
    font-size: 2.5rem;
    padding-top: 6rem;
  }
  .cover__image_container img {
    padding-top: 4rem;
  }
}
