.frame {
  padding: 0 1rem 0;
}

.frame__logo_container > svg {
  height: auto;
  width: 6.5rem;
  fill: var(--primary);
}

.first_frame__container {
  padding: 0rem 1rem;
}

.heading {
  padding-bottom: 3rem;
}

.heading h1 {
  font-size: 2.5rem;
  color: var(--text-primary);
  font-weight: 700;
  padding-bottom: 1rem;
}

.heading p {
  color: var(--text-secondary);
  font-size: 1rem;
}

.avatar_container {
  padding-bottom: 2rem;
}

.avatar__heading {
  font-size: 1.6rem;
  font-weight: 600;
  padding-bottom: 1rem;
}

.avatar__selector {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.avatar__display {
  height: 12rem;
  width: 12rem;
  border: 3px solid var(--text-ternary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: dashed;
}

.avatar__display img {
  height: 12rem;
  width: 12rem;
  border-radius: 50%;
}

.avatar__display svg {
  height: auto;
  width: 2rem;
  color: var(--text-ternary);
}

.avatar__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: fit-content;
}

.avatar__input input[type="file"] {
  display: none;
}

.avatar__input span {
  color: #9ca3af;
  font-size: 1rem;
  font-weight: 700;
}

.location_container {
  display: flex;
  flex-direction: column;
}

.location_container h3 {
  font-size: 1.6rem;
  font-weight: 600;
}

.location_container input {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--text-ternary);
  padding: 0.9rem;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 0.4rem;
  color: var(--text-primary);
}

.btn_outline {
  background-color: transparent;
  border: 1px solid var(--text-ternary);
  color: var(--text-primary);
  font-weight: 700;
  font-size: 1rem;
  padding: 0.7rem 2.2rem;
  border-radius: 6px;
  cursor: pointer;
  width: fit-content;
}

.btn_light {
  background-color: var(--secondary);
  border: none;
  color: white;
  font-weight: 700;
  font-size: 1rem;
  padding: 0.7rem 2.2rem;
  border-radius: 6px;
  cursor: pointer;
}

/* Dribble selection frame design */

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 6rem;
}

.card {
  max-width: 350px;
  border: 1px solid var(--text-ternary);
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  transition: all 0.3s ease;
}

.card__border_highlight {
  border: 1px solid var(--primary);
  outline: 2px solid var(--secondary);
}

.card:hover {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.card__image {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 2.5rem;
}

.card__image img {
  height: auto;
  width: 15rem;
  transition: all 0.3s ease;
}

.card__para {
  font-size: 1.1rem;
  color: var(--text-secondary);
  padding: 11rem 0 1rem;
  opacity: 0;
  text-align: center;
  transition: all 0.3s ease;
}

.card__para_display {
  opacity: 1;
}

.card__img_heading {
  position: absolute;
  top: 0;
  transition: all 0.3s ease;
}

.card__img_heading_translate {
  top: -96px;
}

.card__heading {
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}

.card__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin: auto;
  margin-top: 1.5rem;

  border: 1px solid var(--text-ternary);
  transition: all 0.3s ease;
}

.card__checkbox svg {
  color: transparent;
}

.checkbox_active {
  border: 1px solid transparent;
  background-color: var(--primary);
  outline: 2px solid var(--secondary);
}

.checkbox_active svg {
  color: #fff;
}

.second_frame__heading h1 {
  font-size: 2.5rem;
  color: var(--text-primary);
  font-weight: 700;
  padding-bottom: 1rem;
  text-align: center;
}

.second_frame__heading p {
  color: var(--text-secondary);
  font-size: 1rem;
  text-align: center;
  padding-bottom: 6rem;
}

.second_frame__btn_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 1rem;
  gap: 2rem;
}

.second_frame__btn_container h3 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
}

.prev_icon__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  border-radius: 6px;
  background-color: #f3f4f6;
  cursor: pointer;
}

.prev_icon__container svg {
  color: var(--text-secondary);
  stroke-width: 3px;
}

.prev_icon__container:hover {
  background-color: #e5e7eb;
}

/* Responsive design */

@media (min-width: 840px) {
  .frame {
    padding: 0 3rem 0;
  }
  .first_frame__container {
    max-width: 600px;
    margin: auto;
  }
  .heading {
    padding-bottom: 4rem;
  }
  .avatar_container {
    padding-bottom: 3rem;
  }
}

@media (min-width: 1200px) {
  .frame {
    padding: 0 6rem 0;
  }
  .first_frame__container {
    max-width: 900px;
  }
  .heading {
    padding-bottom: 6rem;
  }
  .heading p {
    font-size: 1.3rem;
  }
  .heading h1 {
    font-size: 3rem;
  }
  .avatar__selector {
    gap: 3rem;
  }
  .avatar__heading {
    font-size: 2rem;
    padding-bottom: 2rem;
  }
  .avatar_container {
    padding-bottom: 5rem;
  }
  .location_container h3 {
    font-size: 2rem;
    font-weight: 600;
    padding-bottom: 2rem;
  }
}

@media (min-width: 1500px) {
  .card_container {
    gap: 2rem;
  }
  .second_frame__heading h1 {
    font-size: 3rem;
  }
  .second_frame__heading p {
    font-size: 1.3rem;
    padding-bottom: 8rem;
  }
}
