.home_content {
  padding: 5rem 6rem;
}

.home_content__heading {
  font-size: 2.4rem;
  font-weight: 600;
  text-align: center;
  padding: 6rem 0 3rem;
  color: var(--text-primary);
}

.home_content__email_icon {
  position: relative;
  height: auto;
  width: fit-content;
  margin: auto;
}

.email_icon {
  height: auto;
  width: 12rem;
  stroke: var(--text-primary);
}

.home_content__text {
  color: var(--text-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  font-size: 1.2rem;
  max-width: 760px;
  text-align: center;
  margin: auto;
  padding-top: 4rem;
}

.home_content__text p {
  line-height: 30px;
  font-weight: 500;
}

.home_content__text strong {
  color: var(--text-primary);
}

.home_content__text span {
  color: var(--primary);
  font-weight: 600;
}
